# REMOVE PHP FROM URL
# REMOVE PHP EXTENSION
RewriteEngine on 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}\.php -f 
RewriteRule ^(.*)$ $1.php

# Redirecionar para HTTPS
RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP_HOST} ^(www\.)?logotipoimc.unifei\.edu.br$ [NC]
RewriteRule ^.*$ https://logotipoimc.unifei.edu.br%{REQUEST_URI} [R,L]